/*Start Global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;

}

ul li {
    list-style: none;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/*End Global Rules */

/* Start Media Query*/
.page {
    padding:0 15px;
    margin: 0 auto;

}

/*small screen*/
@media (min-width: 768px){
    .page{
        width: 750px;
    }
}

/*medium screen*/
@media (min-width: 992px){
    .page{
        width: 970px;
    }
}

/*large screen*/
@media (min-width: 1200px){
    .page{
        width: 1170px;
    }
}
/* End Media Query*/

.nav {
    background-color: #0077b6; 
}

.nav .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav ul li { 
    padding: 20px ;
}

/* .nav ul li.active {
    color: #F2663F;
    font-size: large;
    font-weight: bolder;
} */


@media(max-width: 767px){
    .nav .page{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav ul li {
        padding: 13px;
    }
}

.nav .page ul li,.nav .page ul li a{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav .page ul li:hover,.nav .page ul li a:hover {
    color: #F2663F;
}


section {
    height: calc(100vh - 138px);
    padding-top: 30px;
    background-color: #caf0f8;
    width: 100vw;
}

.about{
    text-align: center;
    display: flex;
    background-color: #0077b6;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    animation-name: hello;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes hello{
    from {
        background-color: #F2663F;
        transform:translateX(250px);
        -webkit-transform:translateX(250px);
        -moz-transform:translateX(250px);
        -ms-transform:translateX(250px);
        -o-transform:translateX(250px);
}
    to {
        opacity: 0.4;
        background-color: #0077b6;
}
}

.aboutMe {
    font-size: 20px;
    margin-top: 10px;
}

section .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

section .text p {
    width: 500px;
}


section .text img {
    width: 400px;
    border: 5px solid brown;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.animation{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    animation-name: styling;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

@keyframes styling{
    0% {
        color: black;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}

    60%{
        color: #F2663F;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
}

    90%{
        color: #caf0f8;
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
}
}

@media (max-width: 767px){
    section .text {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    section .text p{
        margin-top: 15px;
    }
}

.foot {
    padding: 20px;
    background-color: #0077b6;
}

.foot ul {
    display: flex;
    justify-content: center;
}

.foot ul li {
    padding: 10px;
}
